/* 全域設定 */
body {
    /* 背景圖片 */
    background-image: url("coffee-table3.jpg");
    background-size: cover;
    /* [flex設定] */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* [盒模型] */
    /* margin: 50px; */
    /* padding: 30px; */
    /* [顏色] */
    /* background: #78290f; */
    color: #fff;
    /* [文字] */
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 18px;
    /* [字串] */
    text-align: left;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#preloader {
    /*   這是整個會蓋住畫面的底色色塊  */
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #8C4646;
    z-index: 9999;
}

#status {
    /*   這是中間loading的gif,畫面置中  */
    width: 400px;
    padding: 10px;
    text-align: center;
}

.contenter {
    /* [flex設定] */
    display: flex;
    justify-content: center;
    /* [盒模型] */
    width: 100%;
    /* margin: auto; */
    padding: 10px 0px;
}

/* 左側全部 */
.leftContainer {}

.leftPage {
    /* 背景圖片 */
    background-image: url("paper_background.jpg");
    background-size: cover;
}

#Myself_img {}

.article {}

/* 右側全部 */
#Default_img {
    width: 100%;
}

.rightContainer {}

.rightPage {
    /* 背景圖片 */
    background-image: url("paper_background.jpg");
    background-size: cover;
}

.carousel-inner {}

@media only screen and (max-width:424px) {

    /* Bookmarks */
    .btn-group {
        /* Writing-mode: vertical-rl; */
    }

    .btn {
        /* Writing-mode: vertical-lr; */
    }
}

@media only screen and (max-width:900px) {
    .body {
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 14px;
    }

    .contenter {
        display: block;
        padding: 0;
    }

    /* 左側全部 */
    .leftPage {
        display: flex;
    }

    .image {
        width: 40%;
        margin: auto;
        padding: 20px;
    }

    #Myself_img {
        width: 100%;
    }

    .article {
        width: 60%;
        margin: auto;
    }

    .rounded-pill {
        font-weight: 400;
        font-size: 14px;
    }

    /* 右側全部 */

    .rightPage {
        width: 100%;
        height: 600px;
    }

    .carousel-inner {
        height: 200px;
        width: 100%;
    }

    .card-body {
        color: black;
    }

    /* Bookmarks */
    .btn-group {
        width: 100%;
    }
}

@media only screen and (min-width:900px) {

    /* 左側全部 */
    .leftContainer {
        margin: 50px 0 0 0;
    }

    .leftPage {
        /* [盒模型] */
        /* margin: 50px; */
        padding: 50px;
        /* [長寬] */
        width: 500px;
        height: 700px;
        /* [顏色] */
        /* background: #f5f5f5; */
        color: black;
        /* [旋轉] */
        transform: rotate(-7deg);
        /* [前後] */
        z-index: 1;

        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    #Myself_img {
        width: 300px;
    }

    .article {
        padding: 50px 0 0 0;
    }

    /* 右側全部 */
    .rightContainer {
        position: relative;
        width: 500px;
        height: 770px;
        /* [前後] */
        z-index: 0;
    }

    .rightPage {
        /* 背景圖片 */
        background-image: url("paper_background.jpg");
        background-size: cover;
        /* [盒模型] */
        /* margin: 50px; */
        padding: 20px;
        /* [長寬] */
        width: 500px;
        height: 720px;
        /* [顏色] */
        /* background: #f5f5f5; */
        color: black;

        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .carousel-inner {
        height: 300px;
        width: 100%;
    }

    /* Bookmarks */
    .btn-group {
        width: 90%;
    }
}

.btn-more {
    background-color: #6f1d1b;
    color: white;
}

.btn-more:hover {
    background-color: #9b2226;
    color: white;
}

.btn-one {
    background-color: #283618;
    color: white;
}

.btn-one:hover,
.btn-one:focus {
    background-color: #ccd5ae;
    color: black;
}

.btn-two {
    background-color: #606c38;
    color: white;
}

.btn-two:hover,
.btn-two:focus {
    background-color: #e9edc9;
    color: black;
}

.btn-three {
    background-color: #bb9457;
    color: white;
}

.btn-three:hover,
.btn-three:focus {
    background-color: #fefae0;
    color: black;
}

.btn-four {
    background-color: #dda15e;
    color: white;
}

.btn-four:hover,
.btn-four:focus {
    background-color: #faedcd;
    color: black;
}

.btn-five {
    background-color: #bc6c25;
    color: white;
}

.btn-five:hover,
.btn-five:focus {
    background-color: #d4a373;
    color: black;
}